header {
  background-color: rgba(223, 170, 25, 0.75);
  color: rgb(223, 117,101);
  font-family: sans-serif;
  font-size: 30px;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-decoration: none;
  border
}

header p{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

/** body **/
body {
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/intersections.png) repeat;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  color: rgb(66, 117,101);
  font-size: 30px;
  margin-bottom: 40px;
}

a{
  display: border-left: ;
  padding: 8px;

}
h1{
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 50px;
  color: rgb(66, 117,101);
}

h2 {
 font-size: 40px;
 font-weight: bold;
}

p{

}

p li{
  font size: 16px;
  line-height: 2;
  letter-spacing: 1px;

}
.page {
  padding-bottom: 20px;
}


/** Navbar toggle button **/
.navbar{
  background-color: rgb(69, 40, 55);
}
.navbar-toggle{
  border-color: rgb(223, 117,101);
}
.navbar .navbar-toggle .icon-bar {
    background-color: rgb(223, 117,101);
  }
.navbar p{
  font-family: 'Chathura', sans-serif;
}



/** CONTACT **/
#contacthead {
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(223, 117,101);
}
figcaption{
  text-align: center;
  font-style: italic;
}
a{
  color: rgb(223, 117,100);
  transition: 500ms;
}

a:hover{
  text-decoration: none;
  color: rgb(223, 170, 25);
}

#goback{
  justify-content: flex-end;
}
.social_icons li {
  list-style-type: none;
  display: inline;
}

/** Form **/


/** footer **/
footer {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: 'Chathura', sans-serif;
  list-style-type: none;
  background-color: rgb(69, 40, 55);
  color: rgb(223, 117,101);
  display: flex;
  height: 40px;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  align-items: flex-end;
}
footer p{

}
